<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<h1>Login</h1>
<body>
<span>Hello <div th:each="loger : ${log}">
    <span th:text="${loger.username}"></span>
</div>You logged in with succes!</span>
</body>
</html>