<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
<body>
<div th:each="customer : ${customers}">
    <span th:text="${customer}"></span>
</div>
</body>
</html>